<!DOCTYPE html>
<html>
<head><title>Tambah User</title></head>
<body>
  <h1>Tambah User</h1>
  <form action="/add" method="POST">
    Nama: <input name="name"><br>
    Email: <input name="email"><br>
    <button type="submit">Simpan</button>
  </form>
</body>
</html>